body {
  font-family: "Open Sans Light", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

div#status {
  font-style: italic;
  background-color: #eee;
  padding: 5px 10px;
}

footer#footer {
  color: #888;
  margin-top: 3em;
  text-align: center;
}
